.director-info-title {
  font-size: 25px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  // for outside of flexbox use
  margin: 0 auto;
}

.director-info-body {
  margin: 0 30px;
  justify-content: center;
  line-height: 30px;
}