.genre-info-title {
  font-size: 25px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.genre-info-body {
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
  line-height: 30px;
}