// ./src/app/user-profile/user-profile.component.scss
.user-profile-card {
  margin-top: 120px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin: 120px auto 20px;

  button {
    padding: 10px 20px;
    background-color: #703030;
    color: #d3d8cd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  .form-group {
    display: flex;
    align-items: center;
    label {
      margin-right: 10px;
    }
    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  button {
    grid-column: 2;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.movie-item {
  flex: 0 1 calc(12.5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    text-align: center;
    align-items: center;
    margin: 5px 0;
    color: #d3d8cd;
  }

  hr {
    width: 100%;
  }
  
  img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

.movie-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  button {
    margin: 0 5px;
    padding: 0px;
    height: 20px;
    background-color: #703030;
    color: #d3d8cd;
    font-size: xx-small;
  }
}

.drop-button button {
    margin-top: 5px;
    padding: 0 10px;
    height: 20px;
    background-color: #d3d8cd;
    color: #703030;
    font-size: small;
}




